body {
    background-color: rgb(237, 234, 235);
    color: rgb(6, 6, 6);
    font-family: Arial;
    margin: 0px;
}
main {
    background-color:  rgb(243, 240, 243);
    color: rgb(3, 3, 3);
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color:  rgb(196, 194, 196);
    color: rgb(3, 3, 3);
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: rgb(196, 194, 196);
    color: rgb(3, 3, 3);
    font-family: Arial;
    margin: 0px;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: rgb(96, 91, 91);
}
a:visited {
    color: darkgreen;
}
a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color:black;
    opacity: 0.3;
}
div.menu {
    border: 5px solid #00880080;
    border-radius: 5px;
    width: 250px;
    margin: 10px;
}
div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}
