body {
    background-color: rgb(237, 234, 235);
    color: rgb(6, 6, 6);
    font-family: Arial;
    margin: 0px;
}
main {
    background-color:  rgb(243, 240, 243);
    color: rgb(3, 3, 3);
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color:  rgb(196, 194, 196);
    color: rgb(3, 3, 3);
    font-family: Arial;
    margin: 0px;
}
header {
    background-color:  rgb(180, 174, 179);
    color: rgb(3, 3, 3);
    font-family: Arial;
    margin: 0px;
}
a {
    color: green;
    text-decoration: none;
}
a:link {
    color: darkgreen;
}
a:visited {
    color: darkgray;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color:black;
    opacity: 0.3;
}
